services:
  fuseki:
    image: ghcr.io/kurrawong/fuseki:${FUSEKI_VERSION}
    ports:
      - 3030:3030
    volumes:
      - type: bind
        source: demods.ttl
        target: /fuseki/configuration/demods.ttl
    healthcheck:
      test: wget -qO- http://fuseki:3030/$/ping
      interval: 5s
      timeout: 5s
      retries: 3

  prez:
    image: ghcr.io/rdflib/prez:${PREZ_VERSION}
    ports:
      - 8000:8000
    environment:
      SPARQL_ENDPOINT: http://fuseki:3030/demods/sparql
      ENABLE_SPARQL_ENDPOINT: true
    depends_on:
      fuseki:
        condition: service_healthy
    healthcheck:
      test: wget -qO- http://prez:8000/health
      interval: 5s
      timeout: 5s
      retries: 3

  nginx:
    image: nginx:alpine
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: ../prez-ui/.output/public
        target: /app
      - type: bind
        source: nginx.conf
        target: /etc/nginx/nginx.conf
    entrypoint: ["nginx", "-g", "daemon off;"]
    depends_on:
      prez:
        condition: service_healthy
    healthcheck:
      test: wget -qO- http://nginx:3000/
      interval: 5s
      timeout: 5s
      retries: 3
